@font-face{
    font-family: "fontDiner";
    src: url('./assets/Fontdiner_Swanky/FontdinerSwanky-Regular.ttf');
}
*{
    font-family: "fontDiner", 'monospace';
   
}
:root{
    background: rgb(189, 215, 238);
}



h1{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 20px;
}
h2{
    margin-bottom: 15px;
    margin-top: 0px;
    font-size: 3rem;
    text-align: center;
}